.nac{
  width: 100%;
}
.nac h1{
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  display: block;
  font-family: Sintony, sans-serif;
  margin: 20px;
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: 400;
}
.p5{
  font-size: 19px;
  text-align: center;
  margin-right: 70px;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  display: block;
  font-family: Sintony, sans-serif;
  margin: 30px;
}
.images{
  width:800px;
}
.images2{
  width: 700px;
  margin-right: 10px;
  height: 533px;
}
.images3{
  width: 500px;
}
.images4{
  width: 469px;
}
.images5{
  width: 550px;
  height: 626px;
}
