
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.headerContainer{
    display: flex;
    justify-content: space-between;
    padding: 20px 70px;
    font-size: 21px;
    color: black;
    font-family: 'Montserrat';
    margin: 10px 60px;
    /* gap: 160px;
    position: fixed;
    background:transparent */
}
.logo{
    margin-right: 100px;
    font-weight: 700;
}
a{
    text-decoration: none;
    margin-right: 30px;
    color: black;
    
}
nav a:hover{
    text-decoration: underline;
    transition: 2s;
}
.login{
    margin-right: 5px;
    border-radius: 10px;
    padding: 8px 20px;
    background-color: #000000;
    color: white;

}
.login:hover{
    background-color: rgb(173, 175, 176);
    color: #000000;
    
}
