/* voxelStyles.css */
.voxel-dog {
  position: relative;
  margin: auto;
}

.voxel-dog {
  margin-top: -20px;
  margin-bottom: -40px;
  width: 280px;
  height: 280px;
}

@media (min-width: 480px) {
  .voxel-dog {
    margin-top: -60px;
    margin-bottom: -140px;
    width: 480px;
    height: 480px;
  }
}

@media (min-width: 640px) {
  .voxel-dog {
    margin-top: -120px;
    margin-bottom: -200px;
    width: 640px;
    height: 640px;
  }
}

.dog-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: calc(0px - var(--spinner-size) / 2);
  margin-top: calc(0px - var(--spinner-size));
}
