.logined{
    font-size: 28px;
    margin-top: 100px;
    text-align: center;
}
.logined button{
    margin-top: 10px;
    border-radius: 5px;
    padding: 4px 20px;
    background-color: #000000;
    color: white;
}
.logined button:hover{
    background-color: rgb(173, 175, 176);
    color: #000000;
    
}